body{
    /* background-color: red; */
    border: 2px solid red;
    height: 100%;
    background-attachment: fixed;  
}

img{
    height: 100px;
    width: 200px;
    border: 1px solid red;
    box-shadow: lightcoral 4px 2px 2px 2px;
}

img:hover{
    height: 200px;
    width: 300px;
}

h1{
    color: blue;
    /* height: 20pc; */
    /* color:aqua; */
}

div{
    color:brown;
    
}
